name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

env:
  NODE_ENV: development

defaults:
  run:
    shell: bash

jobs:
  install-dev:
    needs: []
    uses: ./.github/workflows/_install-dependencies.yml
    with:
      node-env: development

  eslint:
    needs: [install-dev]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ needs.install-dev.outputs.node-version }}

      - uses: actions/cache/restore@v3
        with:
          key: ${{ needs.install-dev.outputs.node-modules-cache-key }}
          path: ${{ needs.install-dev.outputs.node-modules-path }}

      - run: yarn run postinstall

      - run: yarn run lint

  coverage:
    needs: [install-dev]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ needs.install-dev.outputs.node-version }}

      - uses: actions/cache/restore@v3
        with:
          key: ${{ needs.install-dev.outputs.node-modules-cache-key }}
          path: ${{ needs.install-dev.outputs.node-modules-path }}

      - run: yarn run postinstall

      - run: yarn run coverage

  build-storybook:
    needs: [install-dev]
    uses: ./.github/workflows/_build-storybook.yml
    with:
      artifact-retention-days: 1
      node-env: development
      node-modules-cache-key: ${{ needs.install-dev.outputs.node-modules-cache-key }}
      node-modules-path: ${{ needs.install-dev.outputs.node-modules-path }}
      node-version: ${{ needs.install-dev.outputs.node-version }}

  check-built-storybook:
    needs: [build-storybook]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build-storybook.outputs.artifact-name }}
          path: ${{ needs.build-storybook.outputs.artifact-path }}

      - run: ls -a
        working-directory: ${{ needs.build-storybook.outputs.artifact-path }}

  install-prod:
    needs: []
    uses: ./.github/workflows/_install-dependencies.yml
    with:
      node-env: production

  build-app:
    needs: [install-prod]
    uses: ./.github/workflows/_build-app.yml
    with:
      artifact-retention-days: 1
      node-env: production
      node-modules-cache-key: ${{ needs.install-prod.outputs.node-modules-cache-key }}
      node-modules-path: ${{ needs.install-prod.outputs.node-modules-path }}
      node-version: ${{ needs.install-prod.outputs.node-version }}

  check-built-app:
    needs: [build-app]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.build-app.outputs.artifact-name }}
          path: ${{ needs.build-app.outputs.artifact-path }}

      - run: ls -a
        working-directory: ${{ needs.build-app.outputs.artifact-path }}
